<div class="navbar">
    <div class="top-container">
    <div class="header-image">
        <img src="/assets/svg/logo.svg" alt="">
    </div>
    <div class="nav-btns">
            <button [class.active-button]="isActive('/dashboard')" (click)="navigateTo('/dashboard')">
                <img [src]="getImageSrc('/dashboard', 'home')" alt="Home">
                <span>Home</span>
            </button>
            <button [class.active-button]="isActive('/dashboard/explore')" (click)="navigateTo('/dashboard/explore')">
                <img [src]="getImageSrc('/dashboard/explore', 'globe')" alt="Explore" >
                <span>Explore</span>
            </button>

            <button [class.active-button]="isActive('/dashboard/chat')" (click)="navigateTo('/dashboard/chat')">
                <img [src]="getImageSrc('/dashboard/chat', 'chat')" alt="Chat" >
                <span>Chat</span>
            </button>
            <button [class.active-button]="isActive('/dashboard/profile')" (click)="navigateTo('/dashboard/profile')">
                <img [src]="getImageSrc('/dashboard/profile', 'user')" alt="Profile" >
                <span>Profile</span>
            </button>
    </div>
    </div>
    <div class="bottom-container">
        <button>
            <i class="fa-solid fa-gear"></i>
            <span>Setting</span>
        </button>
        <button>
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </button>

    </div>
</div>