<div class="login">
<div class="login-container">
    <div class="login-header">
        <img src="/assets/svg/login-logo.svg" alt="Login Logo" />
        <p>Let’s Get You Started With <span>intro</span></p>
    </div>
    <form >
        <input type="email" required placeholder="Email">
        <input type="text" required placeholder="Mobile Number">
        <input type="text" required placeholder="First Name">
        <input type="text" required placeholder="Last Name">
        <input type="password" required placeholder="Password">
    </form>
</div>
</div>
  