.login{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
}
.login-container{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-container .login-header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.login-header img{
    width:151px;
    height: 77px;
    border-radius: 50px;
}
.login-header p{
    width: 366px;
    height: 50px;
    margin-top: 24px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    text-align: center;
    color:#59606E;
}
.login-header p span{
    font-weight: 700;
}
.accounts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: auto;
    height: auto;
    gap:13px;
}
.accounts button{
    all: unset;
    width: 382px;
    display: flex;
    padding: 10px 12px;
    gap:37px;
    align-items: center;
    border: 1px solid #DADADA;
    border-radius: 12px;
    cursor: pointer;
}
.accounts button img{
    width: 35px;
    height: 35px;
}
.accounts button span{
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2px;
    color:#59606E;
}
.sign-btn-container{
    margin-top: 30px;
    
}
.sign-in-btn{
    all: unset;
    width: 380px;
    padding: 16px;
    font-weight: 700;
    letter-spacing: 0.2px;
    cursor: pointer;
    border: 1px solid #674DFA;
    border-radius: 12px;
    color: #FFFFFF;
    background-color: #674DFA;
    text-align:center;
}
.register-link{
    margin-top: 19px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.2px;
    color:#59606E;
}
.register-link a{
    font-weight: 700;
    color:#477FF1;
    text-decoration: underline;
}
