<div class="login">
    <div class="login-container">
        <div class="login-header">
            <img src="" alt="">
            <p>Let's Get You Started With <span>Intro</span>span></p>
        </div>
        <div class="accounts">
            <button>
                <img src="" alt="">
                <span>Sign In Using Google Account</span>
            </button>
            <button>
                <img src="" alt="">
                <span>Sign In Using Google Account</span>
            </button>
            <button>
                <img src="" alt="">
                <span>Sign In Using Google Account</span>
            </button>
            <button>
                <img src="" alt="">
                <span>Sign In Using Google Account</span>
            </button>
            <button>
                <img src="" alt="">
                <span>Sign In Using Google Account</span>
            </button>
        </div>
        <button class="sign-in-btn">Sign In Using Password</button>
        <div class="register-link">New To [App Name]? <a href="">Register Now</a></div>
    </div>
</div>