<div class="login">
  <div class="login-container">
    <div class="login-header">
        <img [src]="loginData?.logo" alt="Login Logo" />
        <p>{{ loginData?.message }}</p>
    </div>
    <div class="accounts">
      kl
        <button *ngFor="let account of loginData?.accounts">
          <img [src]="account.image" alt="{{ account.name }}" />
          <span>Sign In Using {{ account.name }} Account</span>
        </button>
    </div> 
    
   
    <!-- <div class="login-header">
      <img src="" alt="" />
      <p>Let's Get You Started With <span>Intro</span></p>
    </div>
    <div class="accounts">
      <button>
        <img src="" alt="" />
        <span>Sign In Using Google Account</span>
      </button>
      <button>
        <img src="" alt="" />
        <span>Sign In Using Google Account</span>
      </button>
      <button>
        <img src="" alt="" />
        <span>Sign In Using Google Account</span>
      </button>
      <button>
        <img src="" alt="" />
        <span>Sign In Using Google Account</span>
      </button>
      <button>
        <img src="" alt="" />
        <span>Sign In Using Google Account</span>
      </button>
    </div> -->
    <div class="sign-btn-container">
    <button class="sign-in-btn">Sign In Using Password</button>
    </div>
    <div class="register-link">
      New To Intro? <a href="">Register Now</a>
    </div>
  </div>
</div>
