<div class="login">
  <div class="login-container">
    <div class="login-header">
        <img [src]="loginData?.logo" alt="Login Logo" />
        <p>{{ loginData?.message }}</p>
    </div>
    <div class="accounts">
        <button *ngFor="let account of loginData?.accounts" (click)="signin(account.name)">
          <img [src]="account.image" alt="{{ account.name }}" />
          <span>Sign In Using {{ account.name }} Account</span>
        </button>
    </div> 
    <div class="sign-btn-container">
    <button class="sign-in-btn">{{loginData?.sign_btn}}</button>
    </div>
    <div class="register-link">
      New To Intro? <a href="">Register Now</a>
    </div>
  </div>
</div>
